body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 1200px; /* Máximo ancho para pantallas grandes */
    margin: auto;
}

nav {
    background-color: #333;
}

.tabs {
    list-style: none;
    padding: 0;
    display: flex; /* Usar flexbox para las pestañas */
    justify-content: center; /* Centrar las pestañas */
}

.tab {
    flex: 1; /* Las pestañas ocupan el mismo espacio */
    text-align: center; /* Centrar texto en cada pestaña */
    padding: 15px 0; /* Espaciado vertical */
    color: white;
    cursor: pointer;
}

.tab:hover {
    background-color: #575757;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px; /* Espacio entre las pestañas y el contenido */
}

.tab-content.active {
    display: block;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .tabs {
        flex-direction: column; /* Pestañas en columna en pantallas pequeñas */
    }

    .tab {
        padding: 10px; /* Ajustar espaciado en pantallas pequeñas */
        font-size: 14px; /* Tamaño de fuente más pequeño */
    }

    .tab-content {
        padding: 15px; /* Ajustar espaciado del contenido */
    }
}